node_modules/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/.idea/
android/local.properties
www/
*.iml
.DS_Store
*.keystore
*.jks
*.p12
*.pfx
*.pem
*.key
*-credentials.txt
*-signing-info.txt
*.idsig

.cache/
